body{
  font-family: "Raleway";
}

div{
  background-color: rgb(203, 208, 209);
  border: solid 1px;
  width: 50px;
  height: 50px;
  margin: 3px 3px;
}

.primero{
  margin-bottom: 8px;
}
.segundo{
  display: block;
  width: 165px;
  height: 53px;
  margin: 5px 3px;
  padding: 5px;
  /*margin: 20px 3px;
  text-align: left;*/
}

.segundo-in{
  display: inline-block;
  margin: auto;
}

.tercero, .cuarto{
  display: inline-block;
}

.quinto{
  display: block;
}
